
<div class="row">
    @for (int i = 0; i < NumberData.GetNumber(6, 18); i++)
    {
        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://picsum.photos/200?@i">
                    </div>
                    <div class="flip-card-back">
                        <h1>@NameData.GetFullName()</h1>
                        <p>@NameData.GetTitleName()</p>
                        <p>@TextData.GetSentence()</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>