@model CategoryEditViewModel
@{
    ViewData["Title"] = "Kategori Güncelle";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row p-4">
    <div class="col-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Sit amet, consectetur" />
                <span asp-validation-for="Name" class="text-danger small"></span>
                @*<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>*@
            </div>
            <div class="mb-3">
                <label asp-for="Desc" class="form-label"></label>
                <textarea asp-for="Desc" rows="2" class="form-control" placeholder="Adipiscing elit fusce vel sapien elit."></textarea>
                <span asp-validation-for="Desc" class="text-danger small"></span>
                @*<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>*@
            </div>
            <div class="mb-3 form-check">
                <input asp-for="IsHidden" class="form-check-input">
                <label asp-for="IsHidden" class="form-check-label"></label>
            </div>

            <div class="">
                @*@if (Model.NotFound == false)
                    {
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save me-2"></i>Kaydet</button>
                    }*@
                <button type="submit" class="btn btn-primary" @(Model.NotFound ? "disabled" : "")><i class="fas fa-save me-2"></i>Kaydet</button>
                <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-left me-2"></i>Listeye Dön!</a>
            </div>
        </form>
    </div>
</div>